@model Spring.Interop.StockTraderSample.ReportingWebApp.Models.TradeActivityModel
@{
    ViewBag.Title = Model.Title;
}

@{
    var grid = new WebGrid(Model.Trades);
}

@if (Model.Trades.Count() == 0)
{
    <h2>
        No Trade Activity Found.</h2>
}
else
{

    <h2>Trade Activity Details</h2>
    
    @grid.GetHtml();
    
}



