@model Spring.Interop.StockTraderSample.ReportingWebApp.Models.TradeActivityModel
@{
    ViewBag.Title = Model.Title;
}
@if (Model.Trades.Count() == 0)
{
    <h2>
        No Trade Activity Found.</h2>
}
else
{
    <ul>
        @foreach (var trade in Model.Trades)
        {
            <li>@trade.Symbol @trade.ExecutionPrice @trade.Quantity @trade.OrderType</li>
        }
    </ul>
}
