@model IEnumerable<Spring.Interop.StockTraderSample.Common.Data.OutstandingShares>
@{
    ViewBag.Title = "Outstanding Shares Report";
}
<ul>
@foreach (var share in Model)
{
    <li>@share.Symbol  @share.Shares</li>
}
</ul>